absl-py==1.0.0
Flask #@ file:///opt/conda/conda-bld/flask_1648041541647/work
h5py==2.10.0
jsonschema==2.6.0
jupyter==1.0.0
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
requests==2.27.1
tensorflow-cpu==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.12.0
tensorflowjs==3.15.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.8.1
protobuf==3.20.*
scikit-learn #@ file:///tmp/build/80754af9/scikit-learn_1621365798935/work
scipy==1.4.1 #@ file:///tmp/build/80754af9/scipy_1597686625380/work
